p {
  font-family: roboto;
  position: absolute;
  top: 0%;
  background-color: transparent;
  z-index: 1;
  padding: 10px;
}

p a {
  text-decoration: none;
  color: rgb(3, 3, 94);
}

body {
  background-color: rgb(233, 230, 227);
}

#background {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

#ref {
  background-color: transparent;
  left: 0;
  width: 10px;
  height: 10px;
}

.ball,
.pos,
#ref {
  border-radius: 50%;
  position: absolute;
}

#red {
  width: 90px;
  height: 90px;
  left: 20%;
  background-image: linear-gradient(
    to bottom right,
    rgb(253, 116, 116),
    rgb(182, 3, 3)
  );
  box-shadow: 20px 20px 10px 3px rgba(78, 78, 76, 0.6);
  border-right: 1px solid red;
  border-bottom: 1px solid rgb(138, 0, 0);
}

#blue {
  width: 60px;
  height: 60px;
  left: 50%;
  background-image: linear-gradient(
    to bottom right,
    rgb(155, 185, 252),
    rgb(0, 43, 68)
  );
  box-shadow: 20px 20px 10px 3px rgba(97, 97, 92, 0.6);
  border-right: 1px solid rgb(43, 78, 99);
  border-bottom: 1px solid rgb(45, 82, 156);
  border-top: 1px solid rgb(65, 123, 238);
}

#yellow {
  width: 120px;
  height: 120px;
  left: 70%;
  background-image: linear-gradient(
    to bottom right,
    rgb(252, 216, 119),
    rgb(219, 125, 1)
  );
  border-right: 1px solid orange;
  border-bottom: 1px solid rgb(221, 169, 0);
  box-shadow: 20px 10px 30px 3px rgba(92, 92, 91, 0.6);
}
